
@{
    ViewBag.Title = "Customer";
}

<h2>This is my First MVC web page </h2> <br />
<br />
<h2>Customer Name :  @ViewBag.CustomerData.CustomerName</h2>
<br />
<h2>Address :  @ViewBag.CustomerData.Address</h2>
<br />
<h2>Age :  @ViewBag.CustomerData.Age</h2>




